@import "~antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");

@media print {
  body {
    -webkit-print-color-adjust: exact;
    font-family: "Heebo";
  }
}
@media only screen and (min-width: 600px) {
  .loginphone {
    display: none;
  }
  .controlscreendiv {
    width: 100%;
    position: relative;
  }

  .nav {
    position: fixed;
    background-color: #1c1547;
    height: 100%;
    width: 17%;
    top: 0;
  }
  .haderdesktop {
    position: relative;
    width: 83%;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 1px 0px rgba(15, 7, 67, 0.05);
    margin-inline-start: 17%;
  }

  .avatar {
    margin-inline-end: 8%;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #1c1547;
  }
  .userdata {
    margin-inline-end: 15px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 118.88%;
    text-align: left;
    color: #1c1547;
  }
  #usename {
    font-weight: 700;
    font-size: 1.7rem;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    color: #1c1547;
  }
  #plan_name {
    font-size: 1.3rem;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    color: #1c1547;
  }
  .continer {
    position: relative;
    width: 83%;
    margin-inline-start: 17%;
    /* background-color: #ececec; */
    min-height: calc(100vh - 72px);
  }
}
@media only screen and (max-width: 600px) {
  .logidesktop {
    display: none;
  }
  .controlscreendiv {
  }
  .nav {
    display: none;
  }
  .continer {
    margin-top: 60px;
  }
  .haderdesktop {
    display: none;
  }
}
.pribtpdf {
  background-color: #00c851;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  border-radius: 100px;
  color: white;
  margin-inline-start: 35%;
}
.Affiliationbutton {
  background-color: red;
  position: fixed;
  left: 12%;
  top: 82%;

  color: #fff;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%),
    0 4px 15px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}

.Affiliationicon {
  margin: 10px;
  font-size: 25px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@media only screen and (max-width: 600px) {
  .lodingimage {
    position: absolute;
    width: 80%;
    transform: translate(0, 50%);
    left: 10%;
  }
}
@media only screen and (min-width: 600px) {
  .lodingimage {
    position: absolute;
    width: 40%;
    transform: translate(0, 50%);
    left: 30%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
